{% extends 'base.html' %}

{% block title %}Projetos Cadastrados{% endblock %}

{% block content %}

<h2>Meus Projetos</h2>

{% if projetos %}
    <ul>
    {% for projeto in projetos %}
        <li>
            <strong>{{ projeto['titulo'] }}</strong> - {{ projeto['descricao'] }}

            <a href="{{ url_for('editar_projeto', id=projeto['id']) }}"><button type="button">Editar</button></a>
            <form action="{{ url_for('excluir_projeto') }}" method="POST" style="display:inline;">
                <input type="hidden" name="id" value="{{ projeto['id'] }}">
                <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?')">
                    Excluir
                </button>
            </form>
            
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Você ainda não cadastrou nenhum projeto.</p>
{% endif %}

{% endblock %}
